<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Custom CSS-->
    <link rel="stylesheet" href="static/css/style.css">

    <!--Codemirror CSS-->
    <link rel="stylesheet" href="static/css/codemirror.css">

    <!--Simple-Hint CSS-->
    <link rel="stylesheet" href="static/css/simple-hint.css">

		<!--jQuery-->
		<script type="text/javascript" src="static/js/jquery.min.js"></script>

    <title>Editor</title>
	</head>
	<body>

    <h2>Code Editor</h2>
    <article>
        <div>
            <textarea id="code"></textarea>
        </div>
    </article>
    <label for="filename">File Name: &nbsp;</label>
    <input type="text" id="filename">

		<input type="button" id="submit" value="Submit Code">

		<!--Codemirror JS-->
		<script src="static/js/codemirror.js"></script>

		<!--Matchbrackets JS-->
		<script src="static/js/matchbrackets.js"></script>

		<!--Python-hint JS-->
		<script src="static/js/python-hint.js"></script>

		<!--simple-hint JS-->
		<script src="static/js/simple-hint.js"></script>

		<!--python JS-->
		<script src="static/js/python.js"></script>

		<!--main JS-->
		<script src="static/js/main.js"></script>

	</body>
</html>
